.scroll_container {
  width: 100%;
  overflow-y: scroll;
  height: 100%;
  padding: 5px;
}
.scroll_style {
  text-align: center;
  color: white;
  font: 1.7em 'opensans-bold', sans-serif;
}
.scroll_list_container {
  padding: 2px;

}
.scroll_entry {
  display: flex;
  height: 20vh;
  flex-direction: column;
  background-color: white;
  border: 2px;
  border-radius:10px;
  margin: 20px;
  flex: 1;
  cursor: pointer;
  opacity: 0.8;
  padding: 10px;
  text-align: center;
}
.scroll_entry:active {
  box-shadow: none;
  opacity: 1;
}
.scroll_entry:hover{
  opacity: 1;
}

.scroll_container::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background: #04C7EC;
}

.scroll_container::-webkit-scrollbar-thumb {
    background: #393812;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(255, 255, 255, 0.75);
}

.scroll_container::-webkit-scrollbar-corner {
    background: #000;
}
